{{outlet}}

<h3>Log in</h3>
<form>
  <div class="form-group">
    {{ input value=email placeholder="Email" classNames="form-control" }}
    {{ input value=password placeholder="Password" classNames="form-control" }}
  </div>
  <div>
    <input type="submit" {{action "authenticate"}} class="btn btn-primary" value="Login" />
  </div>
  <div>
    {{#if errorMessage}}
      <p class="bs-callout bs-callout-warning bg-warning">
        <h4>An Error has Occurred</h4>
        <span class="text-warning">{{errorMessage}}</span>
      </p>
    {{/if}}
  </div>
</form>




